@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@mixin btn() {
  color: #fff;
  background-color: #0471ce;
  display: block;
  cursor: pointer;
  padding: 8px 25px;
  height: 100%;
  line-height: 20px;
  min-width: 88px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  &:hover {
    opacity: 0.8;
  }
}

@mixin block() {
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  background-color: #fff;
  border: 0;
  border-radius: 3px;
} 

body {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.87);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input, select {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 8px 10px;
}

label {
  padding-bottom: 5px;
}

.btn--actions {
  @include btn();

  &--cancel {
    background-color: #eeeeee;
    color: inherit;
    margin-right: 15px;
  }
}

.main__wrapper {
  background-color: #f9f9f9;
  min-height: 100vh;
  height: 100%;

  &__header {
    display: flex;
    padding: 10px 0 40px 0;

    h2 {
      margin: 0 auto;
      padding: 25px 0;
    }

    img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
  }
}

.wrapper {
  max-width: 1170px;
  padding: 0 15px;
  display: block;
  margin: auto;

  &__header {
    display: flex; 
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 26px;
      font-weight: bold;
    }

    .btns {
      display: flex;

      button:nth-child(3), {
        margin-left: 15px;
      }
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.wrapper__sensor {
  @include block();
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  margin: 15px 0;
}

.sensor {
  &__header {
    .title {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 20px;
      text-transform: capitalize;
    }
  }

  &__body {
    overflow-x: auto;

    table {
      border: 1px solid #eee;
      border-spacing: 0;
      width: 100%;

      td {
        padding: 15px;
        border-right: 1px solid #eee;
      }
    }

    thead {
      background: #fafafa;
      font-weight: 600;

     td {
        border-bottom: 1px solid #eee;
      }
    }
  }
}

.table__btns {
  display: flex;
  justify-content: space-around;

  .delete,
  .edit {
    cursor: pointer;
  }

  .delete {
    color: #ec4134;
    margin-right: 5px;
  }

  .edit {
    color: #0471ce;
  }
}

.area {
  @include block();
  max-width: calc(33.33% - 30px);
  padding: 20px;
  margin: 15px;
  width: 100%;
  cursor: pointer;

  &__header {
    display: flex;
    justify-content: space-between;

    .title {
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  &__body {
    padding-top: 30px;

    .sensor {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
    }
  }
}

.popup {
  @include block();
  position: absolute;
  display: block;
  background: #fff;
  min-width: 50%;
  margin: 0 auto;
  top: 15%;
  left: 25%;
  right: 25%;

  .header {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: 600;
    }

    .btn--close:after {
      content: '✖';
      display: block;
      font-size: 20px;
      cursor: pointer;  
    }
  }

  .body {
    min-height: 100px;
    padding: 25px 20px;

    .row {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
    }
  }

  .footer {
    display: flex;
    padding: 20px;
    border-top: 1px solid #eee;
    justify-content: flex-end;
  }
}

// need move into separate file mixins.scss in large project
@mixin btn() {
  color: #fff;
  background-color: #0f9d58;
  display: block;
  cursor: pointer;
  padding: 8px 30px;
  line-height: 20px;
  min-width: 88px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn--load {
  @include btn();
  margin: 0 auto 20px auto;
}

.article {
  box-sizing: border-box;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  padding: 15px;
  margin: 30px auto;
  max-width: 500px;
  width: 100%;

  a {
    color: initial;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    max-height: 56px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__picture {
    padding: 15px 0;
    width: 100%;
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
  }

  &__footer {
    display: flex;
    padding-top: 15px;
  }

  &__owner,
  &__date {
    font-size: 14px;
  }

  &__date::before {
    content: '\0000a0\002022\0000a0';
  }
}

@media only screen and (max-width: 767px) {
  .wrapper__header {
    flex-direction: column;

    .title {
      margin-bottom: 10px;
    }
  }

  .area {
    max-width: calc(100% - 30px);
  }

  .popup {
    left: 5%;
    right: 5%;
    min-width: 90%;
  }
}